<html>
    <body style="background-color: black; color: white; height: 100vh;">
        <a href ="/auth/signup">Sign Up</a>
        <a href ="/auth/signin">Sign In</a>
        <a href="/log-out">Sign Out</a>
        <a href="/folder/folder/0">dash</a>
    </body>
</html>