<html>
    <body style="background-color: black; color: white; height: 100vh;">
       <form action="/auth/create-user" method="post">
        Name: <input type="text" name="name" required/>
        Email: <input type="text" name="email" required/>
        Password: <input type="password" name="password" required/>
        Confirm Password: <input type="password" name="confirmPassword" required/>
        <input type="submit" value="Sign up">
       </form>
    </body>
</html>